* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
  }

a {
    color:black;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body{
    font-family: 'Assistant', sans-serif;
}

.main img{
    width: 180px;
    padding: 10px;
    margin-bottom: 10px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:white;
    justify-items: center;
    padding-bottom: 20px
}
.mainText{
    text-align:center;
}

.main h1 {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 400;
}

.main h2 {
    font-size: 35px;
    font-family: 'Judson', serif;
    font-weight: lighter;
}

.main h3 {
    padding-bottom: 17px;
    font-weight: 400;
    font-size: 13px;
}

p { 
    color: #0c2f42;
}

ul {
    background-color: #f2f2f2;
    padding: 15px;
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.About, .Education {
    background-color: #f2f2f2;
    padding: 25px;
}

.About h1, .Education h1 {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

button {
    font-family: 'Assistant', sans-serif;
    background: rgb(179, 219, 241);
    padding: 10px;
    cursor: pointer;
    display:block;
}

button:hover{
    background: rgba(179, 219, 241, 30%);
}

#spacer {
    padding: 20px;
}

a {
    color: black;
}


.About p{
    margin-bottom: 30px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(4, 30vw);
    justify-content: space-evenly;
    grid-gap: 5px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    background-color: rgb(7, 32, 46);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    line-height: 25px;
}

footer h1, h2 {
    font-size: 15px; 
}

footer a {
    align-self: center;
}

footer p {
    padding-bottom: 10px;
}

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0446aa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #010358;
  }
  
  /* Add a background color and some padding around the form */
  #form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    font-family: 'Assistant', sans-serif;
  }

#interests h1{
    font-size: 25px;
    font-family: 'Judson', serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(5 99 151 / 75%);
    color: white;
}

.cooking h1 {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.cooking {
    background-color: #f2f2f2;
    padding: 25px;
}

.cooking p {
    padding-bottom: 20px;
}

.dogs h1 {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.dogs {
    background-color: #f2f2f2;;
    padding: 25px;
}

.dogs p {
    padding-bottom: 20px;
}

.doggallery {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: 30vw;
    justify-content: space-evenly;
}

.doggallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#contact h1{
    font-size: 25px;
    font-family: 'Judson', serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(5 99 151 / 75%);
    color: white;
}

#projects > header > h1{
    font-size: 25px;
    font-family: 'Judson', serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(5 99 151 / 75%);
    color: white;
}

#projects h1 {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}

#projects p {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .nav .current {
      color: rgb(27, 92, 128);
      font-weight: bolder;
      text-decoration: underline;
      text-underline-offset: 0.5em;
  }

.logo{
    display: none;
}
footer h1{
    font-weight: 900;
}
footer p{
    color: #aba8a8;
}
.row {
    padding: 10px 40px 10px 40px;
}
.line {
    border: 0;
    border-top: 0.01em solid rgb(12 112 167 / 42%);
}

.Education img{
    width: 250px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#handImg {
    padding-bottom: 25px;
}
.Education p{
    margin-bottom: 20px;
}


@media screen and (min-width: 768px){
    .mainMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f2f2f2;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 0 20px 12px rgb(0 0 0 / 14%);
    }
    .nav li{
        margin-left: 30px;
    }

    .logo {
        display: unset;
        padding-left: 30px;
        font-size: 24px;
        font-weight: 990;
    }
    .main {
        grid-template-columns: 1fr 1fr;
    }
    .main img {
        width: 300px;
        margin-left: -30px;
    }
    .mainText {
        line-height: 30px;
        text-align: left;
    }
    .About, .Education {
        padding: 25px 100px 25px 100px;
    }
    .About h1, .Education h1{
        font-size: 30px;
        padding-bottom: 30px;
    }
    header.main{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    body > header {
        position: sticky;
        top: 0;
    }
    .projectButton {
        margin-top: -180px;
        margin-left: -120px;
    }
    
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        
    }
    footer .about {
        grid-column: 1/2;
        font-weight: normal;
    }
    footer .connect {
        grid-column: 2/3;
    }
    
    .center{
        padding-top: 10px;
    }

    #interests h1 {
        padding: 100px 20px 100px 20px;
        font-size: 30px;
    }

    #projects > header > h1 {
        padding: 100px 20px 100px 20px;
        font-size: 30px;
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: absolute;
        top: -40px;
      }
      
      .skip a:focus {
        top: 0;
      }

      #contact h1 {
        padding: 100px 20px 100px 20px;
        font-size: 30px;
      }
}

@media screen and (min-width: 850px){
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(3, 20vw);
        grid-gap: 15px;
    }
}